body{
    position: absolute;
    display: row;
    height: 100%;
    width: 100%;
}

#board{
    width: 800px;
    height:800px;
    border: 2px solid black;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
#pieces-container{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 800px;
    height:800px;
    /* background-color: yellow; */
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

#black {
    background-color: black;
    width: 100px;
    height: 100px;
}
#white{
    display: flex;
    background-color: white;
    width: 100px;
    height: 100px;
}

.whiteCircle{
    background-color: red ;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 5px;
}

.blackCircle{
    background-color: green;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 5px;
}

.blank {
    width: 100px;
    height: 100px;
}
