body{
    position: absolute;
    display: row;
    height: 100%;
    width: 100%;
}

#board{
    width: 800px;
    height:800px;
    border: 2px solid black;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
#x{
    border: 1px solid aqua;
    width: 98px;
    height: 98px;

}
#o{
    border: 1px solid goldenrod;
    width: 98px;
    height: 98px;
}
#w{
    border: 1px solid orangered;
    width: 98px;
    height: 98px;
}