:root{
   --boardSize: 700px;
}

body{
    position: absolute;
    display: row;
    height: 100%;
    width: 100%;
    margin: auto 0;
}

#board{
    width: var(--boardSize);
    height: var(--boardSize);
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
#pieces-container{
    position: absolute;
    top: 2px;
    left: 2px;
    width: var(--boardSize);
    height: var(--boardSize);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

#black {
    background-color: black;
}

#white{
    display: flex;
    background-color: white;
}

.whiteCircle{
    background-color: red ;
    border-radius: 50%;
    width: 90%;
    height: 90%;
    margin: auto;
}

.blackCircle{
    background-color: green;
    border-radius: 50%;
    width: 90%;
    height: 90%;
    margin: auto;
}

