:root{
   --boardSize: 700px;
}

body{
    position: absolute;
    display: row;
    height: 100%;
    width: 100%;
    margin: auto 0;
}

#board-container{
    width: var(--boardSize);
    height: var(--boardSize);
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
#pieces-container{
    position: absolute;
    top: 2px;
    left: 2px;
    width: var(--boardSize);
    height: var(--boardSize);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.piece {
    border-radius: 50%;
    width: 90%;
    height: 90%;
    margin: auto;
}

.player-1{
    background-color: red ;
}

.player-2{
    background-color: green;
}

.player-1-king {
    background-color: orange;
}

.player-2-king {
    background-color: blue;
}

#active-player{
    width: 50px;
    height: 50px;
}

.ready {
    background-color: green;
}
.in-game {
    background-color: orange;
}
