:root{
   --width: 970px;
   --height: calc(var(--width) / 1.618);
}

body{
    /* height: 100%; */
    /* width: 100%; */
    margin: auto 0;
    box-sizing: border-box;
}

#game-container {
    width: var(--width);
    height: var(--height);
    display: grid;
    /* width: 900px; */
    /* height: var(--boardSize); */
    grid-template-columns: 61.8% 38.2%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
        "A B"
        "A C";
}

#board-container{
    grid-area: A;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

#pieces-container{
    /* position: absolute; */
    /* top: 2px; */
    /* left: 2px; */
    grid-area: A;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

#chat {
    position: relative;
    grid-area: C;
}

#chat-form {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#options {
    /* display: flex; */
    grid-area: B;
}

#game-options {
    height: 80%;
    display: flex;
}

#game-options div {
    width: 50%;
}

.piece {
    border-radius: 50%;
    width: 90%;
    height: 90%;
    margin: auto;
}

.player-1{
    background-color: red ;
}

.player-2{
    background-color: green;
}

.player-1-king {
    background-color: orange;
}

.player-2-king {
    background-color: blue;
}

#active-player{
    width: 100%;
    height: 20%;
}

#new-game {
    background-color: blue;
}

#exit-game {
    background-color: purple;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.ready {
    background-color: green;
}
.in-game {
    background-color: orange;
}

